<h3> Be a tree hugger! </h3>

<p> It's time to connect with nature - literally. <br>
 Visit your local forests and learn about tree identification</p>

<p> Find trees to hug in your area now: </p>



<ul>
	<% @forests.each do |forest| %>
		<li><%= link_to forest.name, forest_trees_path(forest.id), remote: true %></li>
		<div id="tree-items-<%= forest.id %>" class="row"></div>
	<% end %>
</ul>

<%= form_tag('/dashboards/forest_types', method: "get") do %>
    <%= text_field_tag('x', nil, { placeholder: "x coordinate" } ) %>
    <%= text_field_tag('y', nil,  { placeholder: "y coordinate" } ) %>
    <%= text_field_tag('radius', nil, {placeholder: "radius" }) %>
    <%= submit_tag("Search") %>
<% end %>

<% @results.each do |result| %>
<p><%= "#{result.forest_type_name} within a radius of #{result.radius} meters"%></p>
<% end %>
