




<% if user_signed_in?%>



<div id= "jumbo-description" class="jumbotron text-center">
  <!-- <h1 id="jumbo-header-text thirty-px-left">Hug </br>  Trees </br> Today</h1> -->
  <h1> Connect to nature - literally. </h1>
 <p>Give our trees the love they deserve and get to know our native species a little better</p>
</div>

<div id= "jumbo-steps" class="jumbotron text-center">
  <!-- <h1 id="jumbo-header-text thirty-px-left">Hug </br>  Trees </br> Today</h1> -->
 <p>Choose your forest type</p>
<%= fa_icon "tree", class: "fa-4x" %>
<p>Earn a badge by uploading a pic appreciating each tree</p>
<%= fa_icon "camera-retro", class: "fa-4x" %>
<p>Collect all the badges</p>
<%= inline_svg("badge.svg",  class: 'tree-badge-svg-alone') %>
<p>Win prizes!</p>
<%= fa_icon "trophy", class: "fa-4x" %>
</br>
 <a class="btn btn-primary btn-lg ten-top-margin" href= <%= forest_types_dashboards_path %> role="button">Find Forests Now</a>
</div>



<% end %>