<div class="forest-wrapper">
	<h2><%= @forest.name %></h2>
	<p><%= @forest.description %></p>
	<div class="row">
		<% @forest.trees.each do |tree| %>
			<div>
				<div class="tree-tile"><img src="<%= tree.images %>" alt="">
					<h3 class="text-center"><%= tree.name %></h3>
					<div class="text-center collect-badge">
						<%= render partial: 'tree_badges/new', locals: {badge: TreeBadge.new, tree: tree, user: @user} %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
